/Snake/nbproject/private/
/Snake/build/
/Snake/dist/
/Calculator/nbproject/private/
/Calculator/dist/
/Calculator/build/
/Java2/nbproject/private/
/Java2/build/
/Java2/dist/
/Java2-1/dist/
/Java2-1/build/
/Painting/nbproject/private/
/Painting/dist/
/Painting/build/