*.xml
*.properties
*.class
*.mf
/Calculator/build/
/Java2-1/build/
/Painting/build/
/Snake/build/
/Java2-2/nbproject/private/
/Java2-2/build/
/DocGenerator/nbproject/private/
/DocGenerator/build/
/DocGenerator/dist/
/HeadFirstJava/nbproject/private/
/HeadFirstJava/build/