/Calculator/nbproject/private/
/Calculator/build/
*.class
*.mf
*.rar
*.zip
/ConwaysGameOfLife/nbproject/private/
/ConwaysGameOfLife/build/
/DocGenerator/nbproject/private/
/DocGenerator/build/
/Painting/nbproject/private/
/Painting/build/
/Painting/dist/
/Java2-1/nbproject/private/
/Java2-1/build/
/Java2-1/dist/
/HFJ/nbproject/private/
/HFJ/build/
/Java2-3/nbproject/private/
/Java2-3/build/
/Java2-3/dist/
/Java23HW/nbproject/private/
/Java23HW/build/
/LearningSwing/nbproject/private/
/LearningSwing/build/
/LanChat/nbproject/private/
/LanChat/build/
/LessonThreads/nbproject/private/
/LessonThreads/build/
/HFJ/dist/
/Java2-6/nbproject/private/
/Java2-6/build/
/test1/nbproject/private/
/test1/build/
/test2/nbproject/private/
/test2/build/
/equation/nbproject/private/
/equation/build/
/JavaFX/nbproject/private/
/JavaFX/build/
/JavaFX/dist/
/GUI_HFJ/nbproject/private/
/GUI_HFJ/build/
/GUI_HFJ/dist/
/HFJ_Main/nbproject/private/
/HFJ_Main/build/